/* body start  */

.body{
  background-color: #343434;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 56rem;
}
.body .body-container { 
  display: flex;
  max-width: 120rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.body-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20rem;
}

.body-img {
  width: 100%;
  transform: scale(.95);
  border-radius: 50%;
}

.body-content {
  padding-top: 2rem;
  text-align: center;
}

.body-headline {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: white;
}

.body-text {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: lightgray;
}

.body-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 2.8rem;
}

.body .icon-link {
  padding: 0.8rem 0.8rem;
  color: white;
}

.icon-link:hover {
  color: lightgray;
  transform: scale(1.05);
}
/* about start  */
.about {
  height: 72vh;
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ef233c;
}

.about-heading {  
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: black;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
}

.about .about-info .about-desc {
  font-size: 1.7rem;
  line-height: 2rem;
  max-width: 60%;
  margin-top: -0.2rem;
  display: flex;
  align-items: center;
}
.about .about-img {
    display: block;
}

.about .about-img .about-img-wrapper {
  padding: 15px;
  margin-top: -2rem;
  height: auto;
  max-width: 400px;
  position: relative;
  display: inline-block;
  border-radius: 60%;
  border: 1vh solid #cbd5e1;
}
.about .about-img .about-img-wrapper img {
  width: 75%;
  height: 14rem;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .about{
    height: auto;
    padding: 4rem 5rem;
  }
  .about-desc{
    margin-top: -2rem;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about{
    height: auto;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about{
    height: auto;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 2rem;
  }
  .about .about-info .about-desc {
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 60%;
    margin-top: -0.2rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .about{
    height: auto;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about-heading {  
    font-size: 2.79rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 1rem;
  }
  .about .about-info .about-desc{
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 100%;
    margin-top: -0.2rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .about{
    height: auto;
  }
  .about-heading {  
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 1rem;
  }
  .about .about-info .about-desc{
    font-size: 1rem;
    line-height: 1.6rem;
    max-width: 100%;
    margin-top: -0.2rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .about{
    height: auto;
  }
  .about-heading {  
    font-size: 3rem;
    /* width: 100%; */
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about .about-img .about-img-wrapper{
    margin-top: 1rem;
  }
  .about .about-info .about-desc{
    font-size: 1rem;
    line-height: 1.6rem;
    max-width: 100%;
    margin-top: -0.2rem;
    display: flex;
    align-items: center;
  }
}

/* project start  */

.projects {
  background-color: #e9d5a1;
  height: 90vh;
  margin-top: -2rem;
}
.heading {
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: .3rem;
  text-align: center;
}
.projects-container {
  margin: auto;
  margin-left: 8rem;
  margin-right: 8rem;
  height: auto;
}
.projects-container .project .content {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 1.2rem;
  margin-right: 10px;
  margin-left: 10px;
  height: 60vh;
  border: 2px solid black;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: auto;
  overflow: hidden;
  padding-bottom: 15px;

}
.content:hover {
  transform: translate(0, -10px);
}
.content:before {
  content: "";
  display: block;
  padding-top: 10%;
}
.projects-container .project .content img{
  display: block;
  margin: 0 auto;
  width: 45%;
  height: 100px;
  border-radius: 10px;
}
.name {
  color: #2b2d42;
  margin: 10px 0;
  font-size: 1.9rem;
  margin-bottom: -0.5rem;
}
.description {
  color: #2b2d42;
  font-size: 1rem;
  padding: 0rem 1rem;
  height: auto;
  margin-bottom: 2rem;
}
.project-button {
  width: 8rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 5px 25px;
  border: 1px solid rgba(30, 39, 46, 0.7);
  border-radius: 8%;
  color: rgba(30, 39, 46, 0.7);
}
.project-button:hover,
.project-button:active,
.project-button:focus{
  background-color: #ef233c;
  border-color: #ef233c;
  color: white;
}
.spaText{
  color: white;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .projects{
    height: auto;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1.5rem;
  }
  .projects-container .project .content div{
    height: auto;
  }
  .description{
    height: 20vh;
  } 
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects{
    height: auto;
  }
  .projects-container {
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
  }
  .heading{
    font-size: 3.85rem;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1rem;    /* width: 90%; */
  }
  .projects-container .project .content div{
    height: auto;
  }
  .name{
    font-size: 1.5rem;
  }
  .description{
    height: 30vh;
  } 
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects{
    height: auto;
  }
  .projects-container {
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
  }
  .heading{
    font-size: 3.85rem;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1rem;    /* width: 90%; */
  }
  .projects-container .project .content div{
    height: auto;
  }
  .name{
    font-size: 1.5rem;
  }
  .description{
    height: 30vh;
  } 
}
@media (min-width: 425px) and (max-width: 767px) { 
  .projects{
    height: auto;
  }
  .projects-container {
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
  }
  .heading{
    font-size: 3rem;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1rem;    /* width: 90%; */
  }
  .projects-container .project .content div{
    height: auto;
  }
  .name{
    font-size: 1.5rem;
  }
  .description{
    height: 25vh;
  } 
}
@media (min-width: 375px) and (max-width: 424px) { 
  .projects{
    height: auto;
  }
  .projects-container {
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
  }
  .heading{
    font-size: 3rem;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1rem;    /* width: 90%; */
  }
  .projects-container .project .content div{
    height: auto;
  }
  .name{
    font-size: 1.5rem;
  }
  .description{
    height: 25vh;
  } 
}
@media (min-width: 320px) and (max-width: 374px) { 
  .projects{
    height: auto;
  }
  .projects-container {
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
  }
  .heading{
    font-size: 3rem;
  }
  .projects-container .project .content{
    height: auto;
    margin-bottom: 1rem;    /* width: 90%; */
  }
  .projects-container .project .content div{
    height: auto;
  }
  .name{
    font-size: 1.5rem;
  }
  .description{
    height: 25vh;
  } 
}
@media (min-width: 2000px) { 
  .projects-container {
    /* padding: 3rem; */
    height: auto;
  }
  .projects-container .project {
    /* position: relative; */
    height: auto;
    /* border: 0.3rem solid black; */
    border-radius: 20px;
    /* margin: 0 1rem 0 0; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .projects-container .project .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1.2rem;
    height: auto;
    border-radius: 15px;
    transition: all 0.5s;
    cursor: auto;
    overflow: hidden;
  }
  .content:hover {
    transform: translate(0, -10px);
  }
  .content:before {
    content: "";
    display: block;
    padding-top: 10%;
  }
  .projects-container .project .content img{
    display: block;
    margin: 0 auto;
    width: 55%;
    height: 20vh;
  }
  .name {
    color: #2b2d42;
    margin: 10px 0;
    font-size: 3rem;
    margin-bottom: -0.2rem;
  }
  .description{
    height: 20vh;
    font-size: 2.1rem;
  } 
  .project-button {
    width: 8rem;
    font-size: 2rem;
    font-weight: 800;
    padding: 7px 25px;
    border: 2 px solid rgba(30, 39, 46, 0.7);
    border-radius: 8%;
    color: rgba(30, 39, 46, 0.7);
  }
}

/* skill start  */

.skill{
  height: auto;
  margin-top: -2rem;
  margin-bottom: 3rem;
}
.skill-container{
  margin-top: 3rem;
}
.main-heading{
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: .3rem;
  text-align: center;
}
.skill-content{
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* padding-right: 8rem; */
  text-align: center;
  transition: all 0.5s;
  cursor: auto;
  overflow: hidden;
}
.skill-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b2d42;
  border: 2px solid black;
  border-radius: 15px;
  width: 6rem;
  height: auto;
  padding: 1rem;
}
.skill-heading{
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
}
.skill-img{
  margin: auto;
  font-size: 2rem;
  color: white;
}
@media (min-width: 375px) and (max-width: 425px){
  .skill{
    height: auto;
    margin-top: -2rem;
    margin-bottom: 3rem;
  }
  .main-heading{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: .3rem;
    text-align: center;
  }
  .skill-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b2d42;
    border: 2px solid black;
    border-radius: 15px;
    width: 4rem;
    height: auto;
    padding: 1rem;
  }
  .skill-heading{
    font-size: .6rem;
    font-weight: bolder;
    color: white;
  }
  .skill-img{
    margin: auto;
    font-size: 2rem;
    margin-bottom: .5rem;
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 374px){
  .main-heading{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: .3rem;
    text-align: center;
  }
  .skill-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b2d42;
    border: 2px solid black;
    border-radius: 15px;
    width: 3.7rem;
    height: auto;
    padding: .7rem;
  }
  .skill-heading{
    font-size: .6rem;
    font-weight: bolder;
    color: white;
  }
  .skill-img{
    margin: auto;
    font-size: 2rem;
    margin-bottom: .5rem;
    color: white;
  }
}

/* footer start  */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #343434;
  padding-top: 2rem;
}
.footer-headding{
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: .3rem;
  text-align: center;
}
.footer-p{
  color: white;
}
.icons{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.icons li{
  list-style: none;
  margin-right: 10px;
}
.icons li a{
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}